<div class="greeting">Hello, ${greeted}!</div>
<jwx-table rows.bind="rows">
    <template replace-part="table">
        <p>Property in hellow-world.ts: ${greeted}</p>
        <table>
            <thead>
                <th repeat.for="column of columns">${column.title}</th>
                <th></th>
            </thead>
            <tbody>
                <tr repeat.for="row of data">
                    <td>${row.id}</td>
                    <td>${row.text}</td>
                    <td><button type="button" click.delegate="remove()"><i class="fa fa-times"></i></button></td>
                </tr>
            </tbody>
        </table>
    </template>
</jwx-table>